.container{
    background-color: white;
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 5%;
    color: var(--secondary);
    transition:2s;
    border-radius:4px;


    &:hover, &:focus{
        background-color:var(--secondary);
        color:white;
    }
}