.container{
    background-color:var(--fondo);
    color:white;
    padding:200px 0;
    max-width: 480px;
    width:100%;
    border-radius:10px;
    /*max-height: 800px;*/

    img{
        width:50%;
    }
}